<div class='modal' data-action='{{id}}'>
  <button class='modal__close' data-modal-close></button>
  <div class='modal__content'>
    <img
      class='modal__img'
      src='https://image.tmdb.org/t/p/w500{{poster_path}}'
      alt='{{title}}'
      loading='lazy'
    />
  </div>
  <div class='card-container'>
    <h2 class='card__title'>{{title}}</h2>
    <ul class='card__list'>
      <li class='card__item'>
        Vote / Votes
        <p class='card__item-vote'>
          <span class='card__item-average'>{{vote_average}}</span>/
          <span class='card__item-count'>{{vote_count}}</span>
        </p>
      </li>
      <li class='card__item'>
        Popularity
        <span class='card__item-popularity'>{{popularity}}</span>
      </li>
      <li class='card__item'>
        Original Title
        <span class='card__item-original-title'>{{original_title}}</span>
      </li>
      <li class='card__item'>
        Genre
        <p class='card__item-genres'>{{#each genres}}
            <span class='card__item-genre'>{{this.name}}</span>
          {{/each}}
        </p>
      </li>
    </ul>
    <p class='card__description'>About</p>
    <p class='card__text'>{{overview}}</p>
    <div class='card__list-btn'>
      <button type='button' class='card__btn-watched'>add to Watched</button>
      <button type='button' class='card__btn-que'>add to queue</button>
      <a class='js-youtube-key' href='' target='_blank'>
        <button type='button' class='card__btn-trailer'>trailer</button>
      </a>
    </div>
    <button type='button' class='modal-close-btn close'>
      {{! <svg class="card__btn-close">
            <use href="../images/svg/sprite.svg#close"></use>
         </svg> }}
    </button>
  </div>
  <div class='trailer-box trailer-box--hidden'>
    <video class='modal-trailer' controls></video>
  </div>

</div>