{{#each this}}
  <li class='gallery-item'>

    <div class='film-page'>
      <img src='https://image.tmdb.org/t/p/w500{{poster_path}}' alt='{{overview}}' loading='lazy' />
      <div class='film-info'>
        <p class='film-name'>{{title}}</p>
        <p class='film-genre'>{{genre_ids}} | {{{year}}}</p>
      </div>
    </div>
  </li>
{{/each}}