{{#each this}}
  <li class='devcont-item'>
    <a href="#" class='devcont-link'>
      <div class='devcont-imgbox'>
        <img src="{{img}}" alt='{{name}}' class='devcont-img' />
      </div>

      <div class='devcont-description'>
        <p class='devcont-name'>{{name}}</p>
        <p class='devcont-position'>{{position}}</p>
      </div>

      <div class='devcont-social-network'>
        <ul class='social-network-box'>
          <li class='social-network-item'>
            <a href="{{telegram}}" class='social-network-link'>
              <i class="fab fa-telegram-plane"></i>
            </a>
          </li>

          <li class='social-network-item'>
            <a href="{{instagram}}" class='social-network-link'>
              <i class="icon fab fa-instagram"></i>
            </a>
          </li>

          <li class='social-network-item'>
            <a href="{{github}}" class='social-network-link'>
              <i class="icon fab fa-github"></i>
            </a>
          </li>

          <li class='social-network-item'>
            <a href="{{linkedin}}" class='social-network-link'>
              <i class="icon fab fa-linkedin"></i>
            </a>
          </li>
        </ul>
      </div>
    </a>
  </li>
{{/each}}