{{#each this}}
  <li class='devcont-item'>
    <a href='' class='devcont-link'>
      <div class='devcont-imgbox'>
        <img src='{{img}}' alt='{{name}}' class='devcont-img' />
      </div>

      <div class='devcont-description'>
        <p class='devcont-name'>{{name}}</p>
        <p class='devcont-position'>{{position}}</p>
      </div>

      <div class='devcont-social-network'>
        <ul class='social-network-box'>
          <li class='social-network-item'>
            <a href='{{telegram}}' class='social-network-link'>
              <svg class='social-network-svg' width='14' heigth='14'>
                <use href='../src/images/svg/sprite.svg#telephone'></use>
              </svg>
            </a>
          </li>

          <li class='social-network-item'>
            <a href='{{instagram}}' class='social-network-link'>
              <svg class='social-network-svg' width='14' heigth='14'>
                <use href='../src/images/svg/sprite.svg#instagram'></use>
              </svg>
            </a>
          </li>

          <li class='social-network-item'>
            <a href='{{github}}' class='social-network-link'>
              <svg class='social-network-svg' width='14' heigth='14'>
                <use href='../src/images/svg/sprite.svg#telephone'></use>
              </svg>
            </a>
          </li>

          <li class='social-network-item'>
            <a href='{{linkedin}}' class='social-network-link'>
              <svg class='social-network-svg' width='14' heigth='14'>
                <use href='../src/images/svg/sprite.svg#telephone'></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
    </a>
  </li>
{{/each}}